.padding-15 {
  padding: 15px;
}
.padding-20 {
  padding: 20px;
}
/*布局样式*/
/*大型块*/
.common-block-lg {
  background: #ffffff;
}
.common-block-lg > header {
  padding: 15px;
  font-size: 18px;
}
.common-block-lg section {
  padding: 20px;
  padding-top: 0;
}
.common-block-sm {
  background: #ffffff;
}
.common-block-sm > header {
  padding: 15px;
  font-size: 18px;
}
.common-block-sm section {
  padding: 20px;
  padding-top: 0;
}
.common-block,
.common-block-md {
  background: #ffffff;
}
.common-block > header,
.common-block-md > header {
  padding: 10px 10px 10px 15px;
  font-size: 16px;
}
.common-block section,
.common-block-md section {
  padding: 15px;
  padding-top: 0;
}
.common-block.bottom-line,
.common-block-md.bottom-line,
.common-block .bottom-line,
.common-block-md .bottom-line {
  border-bottom: 1px solid #4f8ad0;
  font-size: 15px;
  top: 1px;
  clear: right;
  margin: 10px 10px 10px 10px ;
  padding: 0 0 0 0;
  line-height: 28px;
}
.common-block {
  background: #fff;
  clear: both;
}
.common-block h2,
.common-block > header {
  /*不同尺寸有不同的排版，默认为md*/
  /*划线样式*/
}
.common-block .common-block-body,
.common-block section {
  padding: 20px;
  padding-top: 0;
}
.common-block-title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 5px;
  margin-left: 5px;
}
.common_block_border {
  background: #ffffff;
  background: #fff;
  clear: both;
}
.common_block_border > header {
  padding: 10px 10px 10px 15px;
  font-size: 16px;
}
.common_block_border section {
  padding: 15px;
  padding-top: 0;
}
.common_block_border.bottom-line,
.common_block_border .bottom-line {
  border-bottom: 1px solid #4f8ad0;
  font-size: 15px;
  top: 1px;
  clear: right;
  margin: 10px 10px 10px 10px ;
  padding: 0 0 0 0;
  line-height: 28px;
}
.common_block_border h2,
.common_block_border > header {
  /*不同尺寸有不同的排版，默认为md*/
  /*划线样式*/
}
.common_block_border .common-block-body,
.common_block_border section {
  padding: 20px;
  padding-top: 0;
}
.common_block_title {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
}
.common_block_title_right {
  padding: 8px 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #333333;
  font-size: 1.2em;
  margin: 5px 0 10px 15px;
  padding-left: 5px;
  margin-left: 5px;
}
.padding_10 {
  padding: 10px;
}
.margin_10 {
  margin: 10px;
}
.margin-0 {
  margin: 0;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-5 {
  margin-top: 5px;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_0 {
  margin-bottom: 0px;
}
.margin_bottom_15 {
  margin-bottom: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-top-0 {
  margin-top: 0;
}
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
/*布局样式end*/
.sub_menu .navbar-default {
  background: white;
  border: 1px solid #dddddd;
}
.sub_menu .navbar-default .navbar-nav > .active > a,
.sub_menu .navbar-default .navbar-nav > .active > a:hover,
.sub_menu .navbar-default .navbar-nav > .active > a:focus,
.sub_menu .navbar-default .navbar-nav > li > a:hover,
.sub_menu .navbar-default .navbar-nav > li > a:focus {
  background: none;
  color: #999;
  font-size: 16px;
  border-bottom: 3px solid #03ae87;
}
.sub_menu .navbar-default .navbar-nav > .open > a,
.sub_menu .navbar-default .navbar-nav > .open > a:hover,
.sub_menu .navbar-default .navbar-nav > .open > a:focus {
  border-bottom: 3px solid #03ae87;
  background: white !important;
}
.sub_menu .navbar-default .navbar-nav > li > a {
  color: #999;
  font-size: 16px;
}
.sub_menu .navbar-default .navbar-brand {
  color: #666;
}
.sub_nav {
  background: none;
}
.sub_nav .navbar-default {
  background: none !important;
}
.hr_3d {
  border-bottom: 1px solid white;
  border-top: 1px #cccccc solid;
}
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {
  min-height: 0;
}
ul {
  padding-left: 0;
  margin-left: 0;
}
.slide-bar-mini {
  box-shadow: none !important;
  border: none !important;
  top: 50% !important;
  bottom: auto !important;
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px;
  z-index: 1100;
}
.slide-bar {
  z-index: 99;
  position: fixed;
  left: 0;
  width: auto;
  bottom: 0;
  top: 50%;
}
.slide-bar .pull-right {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  padding: 9px 10px 10px 10px !important;
  background-position: 12px -583px;
  top: 0;
  right: -41px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0 3px 3px 0;
}
.slide-bar .pull-right:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.slide-bar .pull-right:hover i {
  color: #666;
}
.slide-bar .pull-right i {
  color: #ffffff;
}
.slide-bar .pull-out {
  text-align: center;
}
.slide-bar .pull-out a {
  padding: 0 10px !important;
}
.slide-bar .pull-out i {
  color: #ffffff;
}
.slide-bar .app-menu li {
  display: block;
}
.slide-bar .app-menu li a {
  font-size: 14px;
  padding: 12px 15px;
  line-height: 28px;
  display: block;
  color: #fff;
}
.slide-bar .app-menu li a .app-icon {
  color: #fff;
  padding: 12px;
  border-radius: 50%;
  display: inline-block;
}
.slide-bar .app-menu li a i {
  font-size: 20px;
}
.slide-bar .app-menu li {
  list-style: none;
  display: inline-block;
  margin: 1em;
}
.slide-bar .app-menu li a {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  line-height: 5em;
  position: relative;
  text-align: center;
  background-color: #2eb8b3;
  border: 3px solid #fff;
  overflow: hidden;
  z-index: 1;
}
.slide-bar .app-menu li a i {
  display: block;
  position: absolute;
  font-size: 28px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
}
.slide-bar .app-menu a span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 1em;
  text-transform: uppercase;
  -webkit-transition: all 0.25s 0.125s ease;
}
.slide-bar .app-menu li a:hover.to.bottom i {
  -webkit-transform: translate(-50%, 5em);
}
.slide-bar .app-menu li a:hover.to.top i {
  -webkit-transform: translate(-50%, -5em);
}
.slide-bar .app-menu li a:hover.to.left i {
  -webkit-transform: translate(-5em, -50%);
}
.slide-bar .app-menu li a:hover.to.right i {
  -webkit-transform: translate(5em, -50%);
}
.slide-bar .app-menu li a:hover i {
  -webkit-transform: translate(-50%, 5em);
  color: rgba(255, 255, 255, 0.4);
}
.slide-bar .app-menu li a:hover span {
  opacity: 1;
}
.slide-bar .app-menu-mini li {
  display: block;
}
.slide-bar .app-menu-mini li a {
  font-size: 14px;
  padding: 12px 10px;
  line-height: 16px;
  display: block;
}
.slide-bar .app-menu-mini li a:hover {
  background: none;
  /*-webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -o-transform: scale(1.3);*/
}
.slide-bar .app-menu-mini li a .app-icon {
  color: white;
  padding: 12px;
  border-radius: 50%;
  display: inline-block;
}
.footer-bar {
  padding: 20px;
  background: #fcfcfc;
}
.footer-bar .friend-link li a {
  color: #333;
}
/*
右侧好友界面*/
#friend_has_new {
  position: absolute;
  top: 8px;
  right: 8px;
  background: red;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 10px;
  height: 10px;
  display: none;
}
.btn-pull {
  position: fixed;
  border: 1px solid #939393;
  background: #9C9C9C;
  z-index: 9999;
  padding: 13px 12px 5px 10px;
  margin-right: 0;
  bottom: 33px;
  right: 50px;
  width: 48px;
  height: 49px;
}
.btn-pull:hover {
  border: 1px solid #717070;
  background: #838383;
}
.btn-pull i {
  color: white;
  font-size: 24px;
}
.friend_panel {
  position: fixed;
  top: 50%;
  margin-top: -250px;
  right: 0;
  height: 500px;
  z-index: 999;
  background: #fff;
  border: #ccc solid 1px;
}
.friend_panel #right_panel_main {
  border-right: 0;
}
.friend_panel #right_panel_main #friend_panel_main {
  width: 150px;
  top: 0px;
  bottom: 0px;
}
.friend_panel #right_panel_main #session_panel_main {
  width: 150px;
}
.friend_panel #right_panel_main h2 {
  border-top-left-radius: 3px;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 0;
  display: block;
}
.friend_panel #right_panel_main .session_spliter {
  height: 0px;
  border-bottom: 1px solid #ccc;
}
.friend_panel .friend_list {
  margin-left: 15px;
  margin-right: 15px;
  padding: 0;
}
.friend_panel .friend_list li {
  list-style: none;
  padding: 10px;
}
.friend_panel .friend_list li a {
  color: #333 !important;
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
}
.friend_panel .friend_list li a .badge_new {
  position: absolute;
  top: 0;
  right: -15px;
  background: red;
  border-radius: 15px;
  text-align: center;
  color: white;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.friend_panel .friend_list .active {
  background: #666666;
}
.friend_panel .session_more {
  height: 38px;
  color: white !important;
}
.friend_panel .session_more .active {
  border: 0 !important;
}
.friend_panel .session_more .tab_chat {
  border-top: 0;
  border-left: 0;
  border-bottom-left-radius: 3px;
  margin-top: 1px;
}
.friend_panel .session_more .tab_friend {
  border-top: 0;
  border-right: 0;
  margin-top: 1px;
}
.friend_panel .session_more .btn_session_more {
  color: white !important;
  text-align: center;
  padding: 8px 0;
  margin-left: 0;
  margin-right: 0;
  display: block;
  margin-top: 1px;
}
.friend_panel .session_more .active {
  color: #029775 !important;
  background: #ffffff;
}
#chat_box {
  z-index: 1001;
}
.chat-board {
  border-left: 1px solid #ccc;
  border-bottom: 0;
}
.chat_panel {
  position: fixed;
  right: 210px;
  bottom: 30px;
  background: white;
  border: 1px solid #ccc;
  width: 520px;
  height: 460px;
}
.chat_panel .chat-left {
  background: #fff;
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
}
.chat_panel .chat-list {
  padding: 0;
}
.chat_panel .chat-list li {
  list-style: none;
}
.chat_panel .chat-list li .btn-close {
  display: none;
  position: absolute !important;
  top: 0;
  right: 16px;
}
.chat_panel .chat-list li a {
  font-size: 14px;
  color: #666;
  position: relative;
  display: block;
}
.chat_panel .chat-list li a .avatar-img {
  margin: 5px;
}
.chat_panel .chat-list li a .talk-name {
  line-height: 46px;
}
.chat_panel .chat-list li a:hover {
  background: #f2f2f2;
}
.chat_panel .chat-list li a:hover .btn-close {
  display: inline-block;
}
.chat_panel .chat-list .active {
  background: #f2f2f2;
}
.chat_panel .panel_title {
  position: relative;
  background: #F4F4F4;
  height: 35px;
  border-bottom: 1px solid #ccc;
}
.chat_panel .panel_title .title {
  padding-left: 74px;
  line-height: 34px;
  width: 270px;
}
.chat_panel .panel_title .control_btns a {
  display: inline-block;
  margin: 7px;
}
.chat_panel .chat_avatar {
  position: absolute;
  top: -32px;
  left: 5px;
  width: 64px;
  border: 1px solid #ccc;
  padding: 1px;
  background: white;
}
.chat_panel .talk-body {
  background: white;
  padding: 0;
  margin-top: 0;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  height: 320px;
}
.chat_panel .talk-body .talk-avatar {
  width: 48px;
  max-width: 200%;
  margin-right: 10px;
}
.chat_panel .talk-body .chat_bubble .bubble_sharp {
  background: url(../images/bubble_left_chat.png);
}
.chat_panel .talk-body .chat_bubble .talk_bubble {
  border-color: #48b87a;
  background: #48b87a;
  color: white;
}
.chat_panel .send_box {
  padding: 0 10px;
}
.chat_panel #scrollArea_chat {
  padding-bottom: 20px;
}
.adv-wrap {
  position: relative;
  overflow: visible;
}
.adv-wrap .adv-content {
  line-height: 18px;
  text-align: center;
  padding-top: 5px;
  background: url(/Public/images/adv_line.jpg);
  padding-left: 10px;
}
.adv-wrap .adv-content .text {
  background: white;
  padding: 5px 10px;
}
.adv-wrap .adv-tool {
  display: none;
  position: absolute;
  width: 165px;
  right: 0;
  top: -24px;
  background: #fcfcfc;
  border: 1px solid #ddd;
  box-shadow: 2px 2px #eee;
  line-height: 12px;
  z-index: 999999;
}
.adv-wrap .adv-tool a {
  line-height: 24px !important;
  padding: 10px 5px;
}
.adv-wrap .adv-size {
  display: none;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  position: absolute;
  z-index: 999;
  background: #fcfcfc;
  border: 1px solid #ddd;
  box-shadow: 2px 2px #eee;
  line-height: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.tool {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 46px;
  z-index: 999;
}
.tool > a {
  display: block;
  width: 48px;
  height: 46px;
  margin-bottom: 10px;
  background-image: url(/Public/images/tools.png);
  border: 1px solid #dddddd;
}
.tool a:last-child {
  margin-bottom: 0;
}
.tool .go-top {
  background-position: 0 0;
  display: none;
}
.tool .go-top:hover {
  background-position: 0 -46px;
}
.tool .admin-view {
  background-position: 0 -92px;
}
.tool .admin-view:hover {
  background-position: 0 -137px;
}
.nav_scroll {
  position: fixed;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
}
.main-wrapper {
  padding-top: 50px;
}
#main-container {
  margin-top: 15px;
}
/*悬浮样式end*/
#sub_nav {
  left: 0;
  right: 0;
  background: #4f8ad0;
  color: #ffffff;
}
#sub_nav .nav > li {
  float: left;
}
#sub_nav .navbar-default .navbar-nav > li > a:hover,
#sub_nav .navbar-default .navbar-nav > li > a:focus,
#sub_nav .navbar-default .navbar-nav > .open > a,
#sub_nav .navbar-default .navbar-nav > .open > a:hover,
#sub_nav .navbar-default .navbar-nav > .open > a:focus {
  background: none;
}
#sub_nav .logo {
  margin-left: 15px;
  margin-right: 30px;
  color: #ffffff;
  line-height: 20px;
  font-size: 18px;
  font-weight: normal;
}
#sub_nav .logo i {
  font-size: 18px;
}
#sub_nav .search-input-group {
  border-radius: 3px;
  background: #ffffff;
}
#sub_nav .search-input-group .input-btn {
  padding: 0 15px 0 15px;
  line-height: 25px;
  display: inline-block;
}
#sub_nav .search-input-group .input {
  border: none;
  border-radius: 3px;
  line-height: 30px;
}
#sub_nav .navbar {
  border: none;
  background: #4f8ad0;
  color: #ffffff;
}
#sub_nav .active > a {
  background: none;
}
#sub_nav .active:before,
#sub_nav .navbar-default .navbar-nav > li:hover:before,
#sub_nav .navbar-default .navbar-nav > li:focus:before {
  position: absolute;
  left: 50%;
  margin-left: -7px;
  bottom: 0;
  width: 15px;
  content: '';
  height: 0;
  border-style: solid;
  border-width: 0 7px 6px 7px;
  border-color: transparent transparent #F4F6F8 transparent;
}
#sub_nav .navbar-nav > li > a {
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
  color: #ffffff;
  font-size: 16px;
}
#sub_nav .navbar-nav > li > a i {
  color: #ffffff;
}
#sub_nav .navbar-nav > li > a:hover {
  background: none;
}
.nav_bar {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  background: white;
  z-index: 999;
}
.nav_bar .navbar-nav > li > a {
  line-height: 50px;
  font-size: 14px;
  padding: 0 15px;
  color: #333333;
}
.nav_bar .navbar-nav > li > a i {
  font-size: 16px;
}
.nav_bar .navbar-header .logo {
  margin-right: 50px;
  font-size: 16px;
  color: #333;
  line-height: 50px;
}
.nav_bar .nav_item {
  position: relative;
}
.nav_bar .navbar-toggle {
  color: white;
  margin-top: 12px;
}
.nav_bar .navbar-toggle .icon-bar {
  background: white;
}
.nav_bar .badge {
  margin-left: 5px;
}
#skin_block .change_skin {
  position: fixed !important;
}
#nav_bar {
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.5);
}
#nav_bar .logo {
  padding: 0 20px 0 0;
  line-height: 50px;
}
#nav_bar .nav > li {
  float: left;
}
#nav_bar .navbar-default .navbar-nav > .open > a,
#nav_bar .navbar-default .navbar-nav > .open > a:hover,
#nav_bar .navbar-default .navbar-nav > .open > a:focus {
  background: none;
}
