<extend name="Public/base"/>

<block name="body">
    <!-- 标题栏 -->
    <div class="main-title">
        <h2>{:L('_USER_LIST_')} ({:L('_PW_RESET_TIP_')})</h2>
    </div>
    <div class="clearfix">
        <div class="col-xs-10">
            <a class="btn " href="{:U('User/addNewMember')}" >新用户</a>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'resumeUser'))}"
                    target-form="ids">{:L('_ENABLED_')}
            </button>
            <button class="btn ajax-post" url="{:U('User/changeStatus',array('method'=>'forbidUser'))}"
                    target-form="ids">{:L('_DISABLE_')}
            </button>
            <button class="btn ajax-post confirm" url="{:U('User/changeStatus',array('method'=>'deleteUser'))}"
                    target-form="ids">{:L('_DELETE_')}
            </button>
            <button class="btn " onclick="post_select_form()"
                    target-form="ids">{:L('_USER_GROUP_SELECT_')}
            </button>
            <button class="btn ajax-post confirm" data-confirm="{:L('_PW_RESET_CONFIRM_')}" url="{:U('User/initPass')}" target-form="ids">{:L('_PW_RESET_')}
            </button>
           
        </div>
        <script>
            function post_select_form(){
                var ids=$('.ids').serialize();
                var title="{:L('_USER_GROUP_SELECT_')}";
                $.post("{:U('user/changeGroup')}",ids,function(msg){
                    (new $.zui.ModalTrigger({custom: msg,title:title})).show();
                })
            }
        </script>

        <!-- 高级搜索 -->
        <div class="search-form  col-xs-2 text-right">
            <div class="input-group">
                <input type="text" name="nickname" class="search-input form-control" value="{:I('nickname')}"
                       placeholder="{:L('_PLACEHOLDER_NICKNAME_ID_')}">
                                 <span class="input-group-btn">  <a class="btn btn-default" href="javascript:;" id="search" url="{:U('index')}"><i class="icon-search"></i></a></span>
            </div>
        </div>
    </div>
    <!-- 数据列表 -->
    <div class="data-table with-padding">
        <table class="table table-bordered table-striped ">
            <thead>
            <tr>
                <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                <th class="">{:L('_UID_')}</th>
                <th class="">{:L('_USERNAME_')}</th>
                <th class="">{:L("_NICKNAME_")}</th>
                <th class="">企业</th>
                <th class="">{:L("_CELL_PHONE_NUMBER_")}</th>
                <th class="">{:L("_OPERATE_")}</th>
                <th class="">{:L('_LOGIN_COUNT_')}</th>
                <th class="">{:L('_LAST_LOGIN_TIME_')}</th>
               <!--  <th class="">{:L('_LOGIN_IP_LAST_TIME_')}</th> -->
                <th class="">{:L('_STATUS_')}</th>

            </tr>
            </thead>
            <tbody>
            <notempty name="_list">
                <volist name="_list" id="vo">
                    <tr>
                        <td><input class="ids" type="checkbox" name="id[]" value="{$vo.uid}"/></td>
                        <td>{$vo.uid}</td>
                        <td><a href="{:U('Admin/User/expandinfo_details',array('uid'=>$vo['uid']))}" >{$vo.ext.username|op_t}</a></td>
                        <td><a href="{:U('Admin/User/expandinfo_details',array('uid'=>$vo['uid']))}" >{$vo.nickname|op_t}</a></td>
                        <td>{$vo.aid}</td>
                        <td>{$vo.ext.mobile}</td>
                        <td>
                            <eq name="vo.status" value="1">
                                <a href="{:U('User/changeStatus?method=forbidUser&id='.$vo['uid'])}"
                                   class="ajax-get">{:L('_DISABLE_')}</a>
                                <else/>
                                <a href="{:U('User/changeStatus?method=resumeUser&id='.$vo['uid'])}"
                                   class="ajax-get">{:L('_ENABLE_')}</a>
                            </eq>
                            <a href="{:U('AuthManager/group?uid='.$vo['uid'])}" class="authorize">{:L('_ACCREDIT_')}</a>
                            <a href="{:U('User/changeStatus?method=deleteUser&id='.$vo['uid'])}"
                               class="confirm ajax-get">{:L('_DELETE_')}</a>
                            <a href="{:U('User/initPass?id='.$vo['uid'])}"
                               class="confirm ajax-get">{:L('_PW_RESET_')}</a>
                        </td>



                        <td>{$vo.login}</td>
                        <td><span>{$vo.last_login_time|time_format}</span></td>
                       <!--  <td><a href="http://ip138.com/ips138.asp?ip={$vo['last_login_ip']|long2ip}">{$vo['last_login_ip']|long2ip}</a>
                        </td> -->
                        <td>{$vo.status_text}</td>



                    </tr>
                </volist>
                <else/>
                <td colspan="9" class="text-center">{:L('_ADMIN_USER_EMPTY_')}</td>
            </notempty>
            </tbody>
        </table>
    </div>
    <div class="with-padding">
        {$_page}
    </div>
</block>

<block name="script">
    <script src="__STATIC__/thinkbox/jquery.thinkbox.js"></script>

    <script type="text/javascript">
        //搜索功能
        $("#search").click(function () {
            var url = $(this).attr('url');
            var query = $('.search-form').find('input').serialize();
            query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
            query = query.replace(/^&/g, '');
            if (url.indexOf('?') > 0) {
                url += '&' + query;
            } else {
                url += '?' + query;
            }
            window.location.href = url;
        });
        //回车搜索
        $(".search-input").keyup(function (e) {
            if (e.keyCode === 13) {
                $("#search").click();
                return false;
            }
        });
        //导航高亮
        highlight_subnav("{:U('User/index')}");
    </script>
</block>