<div class="row" style="position: relative">
    <if condition="$data['cover'] neq 0">
        <div class="col-xs-4">
            <a title="{$data.title|op_t}" href="{:U('News/index/detail',array('id'=>$data['id']))}" target="_blank">
                <img alt="{$data.title|op_t}" src="{$data.cover|getThumbImageById=200,146}" style="width: 200px;height: 146px">
            </a>
        </div>
        <div class="col-xs-8">
            <div>
                <h3 class="title text-more" style="width: 100%">
                    <a title="{$data.title|op_t}" href="{:U('News/index/detail',array('id'=>$data['id']))}" target="_blank">{$data.title}</a>
                </h3>
            </div>
            <div>
                <span class="author">{$data.create_time|date='Y-m-d H:i:s',###}&nbsp;&nbsp;{$data['audit_status']}</span>

                <p>{$data.description}</p>
            </div>
            <div>

            </div>
        </div>
        <else/>
        <div class="col-xs-12">
            <div>
                <h3 class="title text-more" style="width: 100%">
                    <a title="{$data.title|op_t}" href="{:U('News/index/detail',array('id'=>$data['id']))}" target="_blank">{$data.title}</a>
                </h3>
            </div>
            <div>
                <span class="author">{$data.create_time|date='Y-m-d H:i:s',###}&nbsp;&nbsp;{$data['audit_status']}</span>
                <if condition="$data['status'] eq -1">
                    <br/>
                    <span class="reason">{:L('_FAULT_REASON_')}：{$data['reason']|default=L('_NONE_')}</span>
                </if>

                <p>{$data.description}</p>
            </div>
            <div>

            </div>
        </div>
    </if>

    <span class="pull-right" style="position: absolute;right: 0;bottom: 0">
        &nbsp;&nbsp;
        <span>
            <i class="icon-eye-open"></i>  {$data.view}
        </span>
        &nbsp;&nbsp;
    </span>
</div>
<hr/>