<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
body {
    background-image: url({$bg});
    background-attachment: fixed;
    background-repeat: no-repeat;
}
</style>
</head>

<body>
<table width="510" height="265" border="0">
  <tr>
    <td width="127">&nbsp;</td>
    <td width="112">&nbsp;</td>
    <td width="130">&nbsp;</td>
    <td width="123">&nbsp;</td>
  </tr>
  <tr>
    <td height="158" colspan="2"><img name="" src="{$ma['url']}" width="150" height="150" alt="" /></td>
    <td colspan="2"><span style="font-size:60px"> <strong>{$member.nickname}</strong><span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><font  size="5" color="#FFFFFF">{$member.name}</font></td>
    <td>&nbsp;</td>
    <td><font size="5" color="#FFFFFF">{$member.position}</font></td>
  </tr>
</table>
</body>
</html>