<extend name="Base/common"/>

<block name="body">

<section id="content">
<div class="row m-n">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="text-center m-b-lg">
            <h4 class="h text-white animated fadeInDown">ERROR</h4>
            <h4><?php echo($error_message); ?></h4>
        </div>
        <div class="list-group m-b-sm bg-white m-b-lg">
            <a href="index.html" class="list-group-item"><i class="fa fa-chevron-right icon-muted"></i><i class="fa fa-fw fa-home icon-muted"></i><b id="wait">5</b>秒后进行跳转 </a>
            <a href="#" class="list-group-item"><i class="fa fa-chevron-right icon-muted"></i><i class="fa fa-fw fa-question icon-muted"></i> 立即跳转 </a>
            <a href="<?php echo($jumpUrl); ?>" class="list-group-item" id="href" ><i class="fa fa-chevron-right icon-muted"></i><span class="badge">021-215-584</span><i class="fa fa-fw fa-phone icon-muted"></i> Call us </a>
        </div>
    </div>
</div>
</section>

     <script type="text/javascript">
                (function(){
                 var wait = document.getElementById('wait'),href = document.getElementById('href').href;
                 var interval = setInterval(function(){
                        var time = --wait.innerHTML;
                        if(time <= 0) {
                            location.href = href;
                            clearInterval(interval);
                        };
                     }, 1000);
                  window.stop = function (){
                       
                            clearInterval(interval);
                 }
                 })();
     </script>

 
</block>





