#contents {
  padding: 20px;
}
#contents .title {
  margin-top: 0;
}
#contents .author {
  color: #999;
}
#contents .author a {
  color: #999;
}
#contents .author a:hover {
  color: #333;
}
.common_block_border {
  margin-bottom: 20px;
  background: white;
  border-radius: 3px;
  border: 1px solid #f0f0f0;
}
.boxShadowBorder {
  background: #fff;
  padding-top: 20px;
}
.aline {
  border-bottom: 1px solid white;
  border-top: 1px solid #ccc;
}
.uploadcover {
  color: #ffffff;
  background-color: rgba(3, 3, 3, 0.5);
  border-color: #2f7a51;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: absolute;
}
.news-content * {
  max-width: 100%;
}
